/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter-Variable";
  --accent-font-family: "Press Start 2P";
  --main-font-weight: 410;
  --title-font-weight: 715;
  --gradient:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(320px, 100vw, 700px);
  --header-padding: clamp(120px, 32vw, 130px);
  --main-background-color: #ffffff;
  --border: 2px solid #000000;
  --main-color: #000000;
  --contur-color: #000000;
  --animation-fill-color: #ff0000;
}
